[submodule "KarmaJS"]
	path = KarmaJS
	url = https://github.com/abrochard/KarmaJS
[submodule "game-timeline"]
	path = game-timeline
	url = https://github.com/abrochard/game-timeline.git
[submodule "spotify-gaming"]
	path = spotify-gaming
	url = https://github.com/abrochard/spotify-gaming.git
